.thirdpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .description-area {
    margin-left: 10rem;
    margin-top: 7rem;
    color: white;
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
    p {
      font-weight: 200;
      margin-top: -1rem;
      font-size: 0.9rem;
    }
    button {
      padding: 0.8rem;
      width: 10rem;
      height: 3rem;
      border-radius: 3px;
      border: none;
      background-color: #3ddeed24;
      color: #3ddeed;
      font-weight: 500;
      margin-left: -0.3rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: 0.5s ease-in-out;
      img {
        width: 1.5rem;
        margin-bottom: 0.1rem;
      }
    }
    .viewers {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      p {
        margin-left: 1rem;
        margin-top: 1rem;
        font-weight: 500;
      }
    }
  }
  .heroimage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    .girl-image {
      img {
        margin-top: 10rem;
        width: 30rem;
      }
    }
    .twitter-image{
        img{
            
            position: absolute;
            right: 28rem;
            top: 26.5rem;
        }
    }
  }
}
